//colors
$primary-color:#4b920e;
$light-green:#daf2cc;
$black:#000;
$white:#fff;
$darkBlack:#1A1A1A;
$themeGreen:#0D9206;
$orange:#FF8800;
$tBlue:#1DA1F2;
$lBlue:#0077b5;
$fBlue:#4267B2;
$addblue:#008DC9;
$secondary-color:#FE9D00;
$litgrey:#FDFDFD;
$tablegrey:#ece9e9;

// text color
$graytext:#acacac;
$fadeGrey:#354463;
$formtxt:#333333;
$sidebartxt:#A5A5A5;

//font size
$f12:12px;
$f13:13px;
$f14:14px;
$f16:16px;
$f18:18px;

//Margins
//Padding

// shadow
$boxshadowcard:#fff;